{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">



  <div class="grid-row">
    <div class="column-full">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <h1 class="heading-xlarge">
        Calculate Funding
      </h1>




  <div class="form-group">
    <div class="panel panel-border-narrow">
      <p>
        Sprint 6 <br> Start date: 06/10/2017 <br> End date: 17/10/2017
      </p>

    </div>
  </div>

      <table>
        <thead>
          <tr>
            <th scope="col">Page Name</th>
            <th class="numeric" scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="contact us">Create or edit QA Scenario <a></th>
            <td class="numeric">As an QA Allocation analyst, I can able to view all the QA Scenarios within the product and I should be able to edit the existing scenario or I can create new QA scenario for the product.</td>
          </tr>
          <tr>
            <th scope="row"><a href="Application page">Editing the product Calcualtion</a></th>
            <td class="numeric">As an analyst, I can able to view all the products within the allocation lines and I can able to view or edit the product calculation.</td>
          </tr>
          <tr>
            <th scope="row"><a href="Search Results">Providers failing the test</a></th>
            <td class="numeric">As a service user I can able to view all the providers failing the allocation lines or the products</td>
          </tr>
        </tbody>
      </table>


  </div>

</main>

{% endblock %}
